html, body {
    height: 100%;
}

.App {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

button {
    width: 100px;
    height: 50px;
    background-color: coral;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 250px;
}

.text {
    font-size: 25px;
}

.customer-container {
    margin-top: 20px;
}

.customer {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;

    width: 90px;
    height: 30px;
    border: 1px solid cadetblue;
    border-radius: 10%;
}
